asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
codecov
coverage
Django==5.2.2
django-baton==5.0.0
django-js-asset==3.1.2
django-mptt==0.17.0
easy-thumbnails==2.10
et_xmlfile==2.0.0
idna==3.10
invoke==2.2.0
openpyxl==3.1.5
pillow==11.2.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
